@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap");
@import "tailwindcss";

#root {
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Instrument Sans", sans-serif;
}

html,
body {
  overflow-x: hidden;

}

.phone-slide-in {
  transform: translateX(-100px);
  opacity: 0;
  animation: slideInFromLeft 1.5s ease-out forwards;
}

@keyframes slideInFromLeft {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Remove scrollbar from entire page */
